*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: auto;
}
#logo_login{
    max-width: 120px;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.menu-lateral {
    font-family: Arial, sans-serif;
    width: 250px; 
    height: 100vh; 
    background-color: #f2f5f3; 
    padding: 20px;
    border-right: 1px solid #ddd;
}
.logo-container {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
}
.lista-menu {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    position: relative; 
}

.link-menu {
    display: block;
    text-decoration: none;
    color: #008000;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 5px;
    margin-bottom: 5px; 
    transition: background-color 0.2s, color 0.2s;
}

.link-menu:not(.active):hover {
    background-color: #e0e0e0; 
}

.link-menu.active {
    background-color: #e9e9e9;
    color: #006400;
    border-left: 4px solid #D90000;
    padding-left: 11px; 
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4CAF50;
    font-size: 20px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
#Ranger_login{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;

  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
    
}
.text_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  background-color: #f7f2f2;;
  border: 1px solid #e79090;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;

}
h2{
    font-size: 12px;
    padding-bottom: 5px;
}
#text_header{
    color: #A3A3A3;
    width: 100%;
    height: 5%;
}
p{
      font-size: 14px;
      padding: 10px 200px;
      text-justify: justify;
}
      #text_row{
        color: #247bbe;
        background-color: #f1e6e9;
        width: 100%;
        height: 100%;
        }
